<nav class="main-nav blue">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Mongo DB</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/">Главная</a></li>
			<li><a href="/create">Создать объявление</a></li>
		</ul>
	</div>
</nav>