<div class="create">
	<h1 class="create-title">Разместить объявление</h1>

	<form action="/form" method="POST">
		<div class="post-block">
			<label for="title">Введите заголвок объявления</label>
			<input type="text" name="title">
		</div>
		<div class="post-block">
			<label for="text">Введите текст объявления</label>
			<textarea class="text-content" name="text"></textarea>
		</div>
		<button type="submit" class="btn">Разместить</button>
	</form>
</div>